<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rewardsystem>
            <general_settings>
                <product_dynamic_reward_qty>10</product_dynamic_reward_qty>
            </general_settings>
        </rewardsystem>
    </default>
</config>
