<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fyb_RequestCatalogue">
        <sequence>
            <module name="Fyb_Base"/>
            <module name="Fyb_Theme"/>
        </sequence>
    </module>
</config>
