<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="rewardsystem">
            <group id="general_settings">
                <field id="enable" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Reward System Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>

        <section id="cataloginventory">
            <group id="item_options">
                <field id="backorders" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Backorders</label>
                    <source_model>Magento\CatalogInventory\Model\Source\Backorders</source_model>
                    <backend_model>Magento\CatalogInventory\Model\Config\Backend\Backorders</backend_model>
                    <comment>Changing can take some time due to processing whole catalog.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
