<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="stockistlocator" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Stockist Locator</label>
			<tab>fyb_base</tab>
			<resource>Fyb_StockistLocator::stockist_locator</resource>

			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Configuration</label>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="default_location" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Default Location</label>
					<comment>Default location for the Google Map to load in with</comment>
				</field>
				<field id="access_token" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Access Token</label>
					<comment>Access token for the Google Maps API here</comment>
				</field>
			</group>
		</section>
	</system>
</config>
