// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________



//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .menu-wrapper {
        .admin__menu {
            #menu-autifydigital-lloydscardnetpayment-menu {
                a {
                    &:before {
                        content: '';
                        background: url('AutifyDigital_LloydscardnetPayment::images/autify-digital.png') no-repeat;
                        height: 40px;
                        width: 45px;
                        margin: auto auto 3px;
                        background-position: center;
                        background-size: cover;
                        //-webkit-filter: brightness(100);
                        //filter: brightness(100);
                        padding: 0;
                    }
                }
            }
        }
    }
}