<!--@subject Interprise sync failed for {{var CronName}} @-->
<!--@vars {
"var this.getUrl($store)":"Customer Account URL"
} @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="background:#ddd;text-align:center;font-family:helvetica,arial,verdana,sans-serif;font-size:16px;line-height:22px;color:#222">
    <div style="padding:30px">
       <div style="margin:0 auto;width:600px;background:white;text-align:left;padding:1% 2%;border-radius:8px">
         <div style="text-align: center;"><img src="https://www.sandpipershoes.com/trade/pub/media/logo/stores/1/logo-new.png" width="200"></div>
          
<p>Interprise sync {{var CronName}} failed to execute. Please share this email with support. We will let you know when it succeeds. </p>

          
          
          </div>
          </div>
          </div>
          <style>
              p.closing {
                text-align: center;
                font-size: 13px;
              }
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
              font-size: 13px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
            
