<?xml version="1.0"?>
<!--
/**
 * @author FYB Romania
 * @copyright Copyright (c) FYB Romania (https://fyb.ro)
 * @package Notification Bar for Magento 2
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fyb_NotificationBar">
        <sequence>
            <module name="Fyb_Base"/>
        </sequence>
    </module>
</config>
