<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="autify_lloydscardnetpayment" id="autify_lloydscardnetpayment">
			<module before="Magento_Backend" name="AutifyDigital_LloydscardnetPayment"/>
		</route>
	</router>
</config>
